<h1><%= @task.title %></h1>

<h2><%= @task.details %></h2>

<h3><%= @task.completed %></h3>

<%= link_to "Edit", edit_task_path(@task) %>

<%= link_to "Back to list", tasks_path %>

<%= link_to "Delete", task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
